<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <p style="color:red">
           如果某路由包含多个组件，需要添加多个 router-view ,并配以name属性，不配的，则以default 执行。 
        </p>
        <!-- 路由匹配到的组件将渲染在这里 -->
        <router-view class="view one"></router-view>
        <router-view class="view two" name="a"></router-view>
        <router-view class="view three" name="b"></router-view>
    </div>
<script>
    const Foo = {template: `
        <div class="user">
            <h2>Foo </h2>
        </div>
        `
    };
    const UserHome = {template: `
        <div>
            <h1>Home</h1>
        </div>
    `};
    const Register = { template: `
        <div>
            <h1>Register</h1>
        </div>
    `}

    /* 路由 */                            
    const router = new VueRouter({
        routes: [
            {
                path: '/',
                //default指定默认的组件，a、b用于指定其他特定的组件。
                components: {
                    default : Foo,
                    a : UserHome,
                    b : Register
                },
            }
        ]
    });

    const app = new Vue({
        router
    }).$mount('#app')
</script>
</body>
</html>