<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="addNewObserver">添加新的观察者</button>
    <input id="mainCheckbox" type="checkbox" />
    <div id="observersContainer"></div>
    <script src="../../js/Observer/ObserverList.js" type="text/javascript"></script>
    <script src="../../js/Observer/Subject.js" type="text/javascript"></script>
    <script src="../../js/Observer/Observer.js" type="text/javascript"></script>
    <script type="text/javascript">
        //引用DOM
        let controlCheckbox = document.getElementById('mainCheckbox'),
            addBtn          = document.getElementById('addNewObserver'),
            container       = document.getElementById('observersContainer');

        //具体目标 Concrets Sujects

        //利用Subject 扩展 controlCheckbox
        const subject = new Subject();
        extend(subject, controlCheckbox);

        //点击checkbox会触发通知到观察者上
        controlCheckbox['onclick'] = new Function('controlCheckbox.Notify(controlCheckbox.checked)');

        addBtn['onclick'] = AddNewObserver;

        //具体观察者 Concrete Observer
        function AddNewObserver() {
            //创建需要添加的新的checkbox
            let check = document.createElement('input');
            check.type = 'checkbox';

            //利用Observer类扩展checkbox
            extend(new Observer(),check);

            //重写自定义更新行为
            check.Update = function (value) {
                this.checked = value;
            };

            //为主subject的观察者列表添加新的观察者
            controlCheckbox.AddObserver(check);

            //将观察者附加到容器上
            container.appendChild(check);
        }
    </script>
</body>
</html>