<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
            <p style="color:red">
                父传子分为：静态传递和动态传递。<br/>
                    1、静态传递：就是在调用子组件的时候给 子组件所接受的参数传递一个值(数字、字符串、对象等)<br/>
                    2、动态传递：就是利用v-bind，给子组件所需参数绑定一个父组件或调用它的Vue实例中的某一个属性，最终给子组件所传递的值会随绑定的父属性的变化而变化。

            </p>
        <input type="text" v-model='inputMsg'/>
        <!-- 这个是静态绑定 <child my-message="hello!"></child> -->
        <!-- 这个是父组件给子组件动态传递属性 -->
        <child :my-message="inputMsg"></child>
    </div>
<script>
    Vue.component('child', {
            // camelCase in JavaScript
            // props: ['myMessage'],
            //自定义校验
            // props : {
            //     myMessage : {
            //         validator : function(value){
            //             return value > 10;
            //         }
            //     }
            // },
            props : {
                myMessage : {
                    type : Number,
                    required : true
                }
            },
            computed : {
                addMyMessage : function(){
                    let a = this.myMessage;
                    return ++a;
                }
            },
            template: '<span>{{addMyMessage}} </span>'
        })
    const vm = new Vue({
        el: '#app',
        data: { 
            inputMsg : 1
        }
    })
</script>
</body>
</html>