<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input
            type="checkbox"
            v-model="toggle"
        >
        <p>{{toggle}}--{{a}}--{{b}}</p>
        <input v-focus type="text"/>
        <child my-message="hello!"></child>
    </div>
    

<script>
    Vue.component('child', {
            // camelCase in JavaScript
            props: ['myMessage'],
            template: '<span>{{ myMessage }}</span>'
        })
    //自定义指令
    Vue.directive('focus',{
        inserted : function(el){
            el.focus();
        }
    })
    const vm = new Vue({
        el: '#app',
        data: {
            toggle : '',
            a : 'checkA',
            b : 'checkB'
        }
    })
    
</script>
</body>
</html>