<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
    <!-- <script src="https://unpkg.com/vuex@2.4.0"></script> -->
    <script src="./js/vue-router.js"></script>
    <script src="./js/vuex.js"></script>
</head>

<body>
    <div id="app">
        <p style="color:red">
            直接通过script标签引用的话，不需要 Vue.use(Vuex);
            <ul>
                <li>
                    1、mutations中的各函数类似于Redux 中的 reducer(state,action)
                </li>
                <li>
                    2、store.commit(type),类似于Redux中的store.dispatch(action);
                    触发指定的action，通过匹配action.type达到变更state的目的
                </li>
            </ul>
        </p>



    </div>
    <script>
        // Vue.use(Vuex);
        //Vue实例
        const app = new Vue({ }).$mount('#app');
        const store = new Vuex.Store({
            state: {
                count: 0
            },
            mutations: {
                increment(state) {
                    state.count++
                }
            }
        })
        store.commit('increment')
        console.log(store.state.count) // -> 1
    </script>
</body>

</html>