<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
    <!-- <script src="https://unpkg.com/vuex@2.4.0"></script> -->
    <script src="./js/vue-router.js"></script>
    <script src="./js/vuex.js"></script>
</head>

<body>
    <div id="app">
        <p style="color:red">
            <ul>
                
            </ul>
        </p>
    </div>
    <script>
       const moduleA = {
        state: { name : 'moduleA' },
        getters : {
            getMAName : state => {
                return state.name;
            }
        },
        mutations : {
            changeMAName(state,newName){
                console.log(state);
                state.name = newName;
            }
        },
        actions : {
            changeMANameAction(context,newName){
                context.commit('changeMAName',newName);
            }
        }
      }
      
      const moduleB = {
        state: {  name : 'moduleB'  },
        getters : {
            getMBName : state => {
                return state.name;
            }
        },
        mutations : {
            changeMBName(state,newName){
                state.name = newName;
            }
        },
        actions : {
            changeMBNameAction(context,newName){
                context.commit('changeMBName',newName);
            }
        }
      }
      
      const store = new Vuex.Store({
        modules: {
          a: moduleA,
          b: moduleB
        }
      })
      
      console.log(store.state.a) // -> moduleA 的状态
      console.log(store.state.b) // -> moduleB 的状态
    </script>
</body>

</html>